.filter {
  // width: 50%;
  &__toggle{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    &-button{
      font-size: 1.4rem;
    }
  }
  &__list-wrap{
    position: fixed;
    height: 100%;
    background-color: $color-sidebar;
  }

  &__selected {
    color: red;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      flex-basis: 50%;
    }
  }
}