.filter {
  &__toggle {
    display: -webkit-flex;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    &-button{
      font-size: 1.4rem;
    }
  }

  &__list-wrap {
    background-color: $color-sidebar;
    padding: 1rem;
    font-size: 1.5rem;

    & button {
      padding: 1rem;
      font-size: 1rem;
      border-radius: 25%;
      border: .1rem solid white
    }
  }

  &__selected {
    color: red;
  }

  &__list {
    display: flex;
    flex-direction: column;
    
    &-item {
      flex-basis: 50%;
      margin-bottom: 2rem;
    }
  }
}