.places{
  display: flex;
  flex-direction: column;

  &__location-wrap{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .5rem rgba($color-box-shadow, 0.2);
  }

  &__location-image-wrap {
    width: 30%;
    height: 100%;
  }

  &__location-name-wrap {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
  }

  &__location{
    width: 97%;
    margin: 0 auto;

    &-image {
      height: 100%;
      width: 100%;
    }

    &-name {
      font-size: 2rem;

    }
  }
}