.sidebar {
  background-color: $color-sidebar;
  height: 100%;
  overflow:hidden;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__comp{
    position: relative;
    overflow: scroll;
  }
}